[submodule "multiplay-local/main"]
	path = multiplay-local/main
	url = https://github.com/toppers/hakoniwa-ros2sim.git
[submodule "multiplay-photon/photon"]
	path = multiplay-photon/photon
	url = https://github.com/toppers/hakoniwa-ros2sim.git
