[submodule "multiplay-local/main"]
	path = multiplay-local/main
	url = git@github.com:toppers/hakoniwa-ros-simulator.git
[submodule "multiplay-photon/photon"]
	path = multiplay-photon/photon
	url = git@github.com:toppers/hakoniwa-ros-simulator.git
